 *{margin: 0px;padding: 0px;box-sizing: border-box; font-family: "Satisfy", cursive;}
        header{width: 100%;
            background: rgb(17, 19, 17);z-index: 1000;}
        .anchor13{font-size: 40px;
            color: #ff7b0e;
            margin: 0px 0px 10px 10px;
            font-weight: 700;
            text-decoration: none;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
        select{width: 250px;height: 60px;
            font-size: 20px;
            border-radius: 10px;
            border: 3px solid;
            padding-left: 35px;}
        option{font-weight: bold;color: black;}
        input[type="search"]{
            width: 350px;
            height: 60px;
            padding-left: 10px;
            margin: 0px 0px 0px 30px;
            font-size: 1rem;
            border-radius: 10px;
            font-weight: bold;
            border: 3px solid;}
        nav{width: 100%;
            display: flex;
            gap: 50px;
            justify-content: space-evenly;}
        button{width: 120px;
               height: 45px;
               background-color: #ff7b0e;
               border-radius: 10px;
               border: 1px solid red;
            margin: 8px 0px 0px 0px;}
       .anchor2,.anchor7,.anchor14{text-decoration: none;
                         font-size: 20px;
                         font-family: cursive;
                         font-weight: bold;
                        margin: 15px 0px 0px 0px;}
       .anchor2,.anchor14{
        color:#ff7b0e;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
       .anchor7{
        color: white;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
        /* header end */
 
