 *{margin: 0px;padding: 0px;box-sizing: border-box;}
        body{background-color: #8d8c8c;}
        .fastfood{width: 100%;height: 370px;
            background-image: url(./b1.jpg);background-size: 100% 100%;}
        .fastfoodp1{color: #0415ffad;font-size: 80px;
            font-weight: bold;display: flex;justify-content: start;padding: 0px 80px 0px 0px;font-family: cursive;}
        .fastfoodp2{color: rgba(251, 255, 6, 0.733);font-size: 80px;font-weight: bold;font-family: cursive;
            display: flex;justify-content: end;padding: 140px 20px 0px 0px;}
         .date{width: 80%;border-radius: 10px;margin: 20px auto;background-color: rgb(202, 250, 192);}
    input{width:25%;height: 40px;border-radius: 10px;font-size: 15px;margin: 10px 20px;}
    label{font-size: 20px;font-weight: bold;margin: 20px 20px;}
    .category{display: flex;gap: 30px;}
    .box{width:120px;height: 50px;border-radius: 10px;background-color: rgb(29, 15, 27);
        display: flex;justify-content: center;align-items: center;margin: 20px 10px;color: white;
        font-size: 15px;font-weight: bold;}
     .imgcont{display: flex;gap: 40px;justify-content: center;margin-top: 20px;}
    .img{width: 375px;height: 350px;border-radius: 15px;border-bottom: 130px solid rgb(248, 248, 248);;}
    img{width: 100%;height: 100%;border-radius: 3%;}
    .h1{font-size: 25px;font-weight: bold;padding:5px 10px;}
    .h2{font-size: 20px;padding:5px 10px;color: gray;}
    .h3{color: red;font-size: 20px;padding: 10px;}
    
    @media screen and (min-width: 1200px) {
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 12px 40px; */
  flex-wrap: wrap;
}
header form {
  display: flex;
  align-items: center;
}
header select,
header input[type="search"] {
  padding: 8px; 
}
.category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 25px auto;
}
.imgcont,
.imgcont2,
.imgcont3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.img img {
  width: 375px;
  height: 220px;
}
  .footercont {
    display: flex;
    gap: 150px;
    justify-content: center;
  }
}

@media screen and (max-width: 575px) {
 nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
  }

  nav form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  nav select, nav input {
    width: 68%;
    height: 60px;
    font-size: 14px;
  }
  nav select{
    margin-left: 35px;
    margin-bottom: 20px;
  }

  .anchor13 {
    font-size: 28px;
  }

  .anchor2, .anchor14, .anchor7 {
    font-size: 16px;
  }

  button {
    width: 100px;
    height: 40px;
  }

  .date {
    width: 95%;
    height: auto;
    margin: 15px auto;
    text-align: center;
    padding: 10px;
  }

  label {
    display: block;
    font-size: 16px;
  }
  input[type="date"]{width: 300px;}
  .category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .box {
    width: 45%;
    height: 45px;
    font-size: 13px;
  }

  .imgcont,
  .imgcont2,
  .imgcont3 {
    flex-direction: column;
    align-items: center;
  }

  .img img {
    width: 100%;
    height: 220px;
  }
  .fastfoodp1,.fastfoodp2{font-size: 70px;}

  .footercont {
    flex-direction: column;
    text-align: center;
  }

  .footer ul {
    padding: 0;
  }

  .f5 ul li {
    font-size: 13px;
  }
    footer {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 15px;
  }

  footer p, footer div {
    margin: 10px auto;
    font-size: 15px;
  }
}

@media screen and (min-width: 576px) and (max-width: 1199px) {

  nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px;
  }

  nav form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

   nav input {
    width: 60%;
    height: 45px;
  }
  nav select{
    margin-left: 25px;
    width: 60%;
    height: 50px
  }

  .anchor13 {
    font-size: 32px;
  }

  .date {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  label {
    display: block;
    text-align: center;
  }
  input[type="date"]{width: 500px;}
  .category {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .box {
    width: 30%;
    height: 50px;
    font-size: 15px;
  }
  .imgcont,
  .imgcont2,
  .imgcont3 {
    width: 40%;
    flex-direction: row;
    gap: 80px;
    justify-content: start;
    margin-left: 100px;
  }
  .img img {
    width: 300px;
    height: 220px;
  }
 .footercont {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    text-align: center;
  }

  .f5 {
    margin-right: 90px;
    text-align: center;
    padding: 10px;
  }

  footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: auto;
  }

  footer p, footer div {
    margin: 10px auto;
    font-size: 18px;
  }
}