*{margin: 0px;padding: 0px;box-sizing: border-box;}
    .slide2{width: 100%;height: auto;background-image: url(./animichick.jpg);background-size:50% 100%;
        display: flex;align-items: center;gap: 40px;flex-wrap: wrap;}
    .para1{margin-left: 10%;}
    .para1 > .p1{color: white;font-size: 50px;font-weight: bold;}
    .para1 > .p2{color: #04bd51;font-size: 66px;font-weight: bold;}
    .para2{height: 200px;border: 1px solid white;}
    .para3{margin-bottom: 20px;}
    .para3 > .p1{color: white;font-size: 70px;font-weight:600;}
    .para3 > .p2{color: white;font-size: 37px;}
    