*{margin: 0px;padding: 0px;box-sizing: border-box;}
.slide3{width: 100%;height: 350px;color: #ffff00;text-shadow: black 15px 10px 50px;
    background: linear-gradient(100deg,#000000,#000000,#000000,#ff0000,#ff0000,white,#fff4f4,white);}
.sub1{font-size: 60px;font-weight: bolder;text-align: center;}
.para2{font-size: 40px;}
.sub2{font-size: 80px;border: 5px solid white;outline: 4px solid black;
font-weight: bolder;text-align: center;margin: 50px 0px;
display: flex;justify-content: center;gap: 40px;align-items: center;}
sub,sup{font-size: 40px;}
img:nth-child(1){width: 300px;height: 258px;position: absolute;left: 0px;}
img:nth-child(2){width: 300px;height: 258px;position: absolute;right: 0px;}